@font-face {
    font-family: BebasNeue;
    src: url('bebasneue_bold-webfont.woff')
}

@font-face{
    font-family: "GT-America";
    src: url('GT-America-Mono-Light-v1.otf')
}

body {
  background: #222;
}

.text-info {
  /*font-family: 'Source Code Pro', monospace;*/
  font-family: "BebasNeue", sans-serif;
  font-size: 14px;
  color:#080808;
  margin-left:55% !important;
  color:white;
}

.attack-info {
  margin-left:-5%;
}

.header {
  margin-top: 3%;
  margin-left: 3%;
} 

h1 {
  font-family: "BebasNeue", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color:white;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 1% !important;
}

h5 {
  font-family: GT-America;
  text-transform: uppercase;
  font-size: 14px;
  color:white;
  padding: 0 !important;
  margin: 0 !important;
}

a { 
  text-decoration: none; 
  color:white; 
}

/*a:hover{
  text-decoration: none; 
  color:#6a51a3;
}*/

#viz{
  margin-left: -10%
}


.d3-tip {
  line-height: 1;
  padding: 12px;
  /*background: rgba(0, 0, 0, 0.8);*/
  background:white;
  background: rgba(255, 255, 255, 0.5)
  color: black;
  border-radius: 2px;
  font-size:10px;
  font-family:GT-America;
  opacity:0.5;
  max-width:300px !important;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-family: sans-serif;
  font-size: 5px;
  max-width:200px !important;
  line-height: 1;
  /*color: rgba(0, 0, 0, 0.8);*/
  color:white;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  top: 100%;
  left: 45%;
}









